<link rel="stylesheet" href="../static/main.css">
<form action="/course" method="GET">
    <label>Course Name
        <input type="text" name="courseName">
    </label>
    <button type="submit" id="search-btn"> Search </button>
</form>